/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --font1 : 'Ubuntu',sans-serif;
    --font2 : 'poppins',sans-serif;
    --pure: white;
    --dark:black;
    --primarycolor: rgb(58, 99, 222);;
    --secondarycolor : yellow;
    --bodybackground:#222125;
    --fontcolor :#e4e4e4;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}



/* All similar content code style */
    section{
        padding: 100px 0;
    }
    .about, .skills, .contact,.project, footer{
        font-family: var(--font2);
    }
    
    .about .about-content,.skills .skills-content,.contact .contact-content,.project .project-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    section .title{
        position:relative;
        text-align: center;
        font-size: 40px;
        font-family: var(--font1);
        font-weight: 500;
        padding-bottom: 20px;
        margin-bottom: 60px;
        color : var(--pure);
        
    }

    section .title::before{
        content: "";
        position:absolute;
        bottom: 0px;
        left: 50%;
        width: 180px;
        height: 3px;
        background-color: var(--primarycolor);
        transform: translateX(-50%);
    }

    section .title::after{
        
        position:absolute;
        bottom: -12px;
        left: 50%;
        font-size: 20px;
        color: var(--primarycolor);
        padding: 5px;
        background-color: var(--bodybackground);
        transform: translateX(-50%);
    }



    /* Navigation Bar Style */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: var(--font1);
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar.sticky{
    padding: 10px 0;
    background-color: var(--primarycolor);

}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color:var(--pure);
    font-size: 40px;
    font-weight: 600;

}

.navbar .logo a span{
    color: var(--primarycolor);
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color:var(--pure);
}

.navbar .menu li{
    list-style: none;
    display: inline-block;    
}

.navbar .menu li a{
    color:var(--pure);
    font-size: 20px;
    font-weight: 500;
    margin: 25px;
    transition: color .4s ease;
}

.navbar .menu li a:hover{
    color:var(--primarycolor);
}

.navbar.sticky .menu li a:hover{
    color:var(--pure);
}


/* Menu btn style */
.menu-btn{
    color:var(--pure);
    font-size: 25px;
    cursor: pointer;
    display: none;
}


/* Home section Style */
.home{
    display: flex;
    background-image: url('Home-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color:var(--pure);
    min-height: 500px;
    font-family: var(--font1);
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;

}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content a{
    display: inline-block;
    background-color: var(--primarycolor);
    color: var(--pure);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--primarycolor);
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    background-color: var(--dark);
    color: var(--pure);
}

.home .home-content .text-3 span{
    color: var(--pure);
}
   

/* about section style */

.about, .about .title{
    background-color: var(--fontcolor);
    color: var(--dark);
}

.about .title::after{
    content: "Who I Am";
    background-color: var(--fontcolor);
}

.about .title::before{
    background-color: var(--dark);
}

.about .about-content .left{
width: 45%;
}

.about .about-content .left img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
    }

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color : var(--dark);
}

.about .about-content .right .text span{
    color: var(--primarycolor);
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background-color: var(--primarycolor);
    color: var(--pure);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--primarycolor);
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color:var(--primarycolor);
    background-color: var(--fontcolor);

}


/* skills section styling */
.skills{
    color: var(--fontcolor);
    background-image: url('Skills-background.jpg');
    background-position: top left;
}

.skills .title::after{
    content: "What I Know";
    background-color: #070707;
}

.skills .title::before{
    background-color: var(--pure);
}

.skills .skills-content .column{
     /* insted of calc() we use -webkit-calc() beacuse latest version of chrome is not supporting calc(). */
     width: -webkit-calc(50% - 30px);
}

.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .left a{
    display: inline-block;
    background-color: var(--primarycolor);
    color: var(--pure);
    font-size: 13px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--primarycolor);
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover{
    background-color: var(--bodybackground);
    color: var(--pure);
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background-color: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background-color: var(--primarycolor);

}

.skills .skills-content .right .html::before{
    width: 80%;
}

.skills .skills-content .right .css::before{
    width: 70%;
}

.skills .skills-content .right .c::before{
    width: 80%;
}

.skills .skills-content .right .cpp::before{
    width: 85%;
}

.skills .skills-content .right .java::before{
    width: 70%;
}

.skills .skills-content .right .javaScript::before{
    width: 60%;
}


/* Project section start */
.project{
    background-color: var(--fontcolor);
}

.project .title::after{
    content: "What I Build";
    background-color: var(--fontcolor);
}

.project .title{
    color: var(--dark);
}

.project .title::before{
    background-color: var(--dark);
}

.project .project-content .left img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 6px;
}

.project .proj-name{
    font-family: var(--font2);
    margin-top: 10px;
    padding: 2px 50px;
    font-weight: 500;
    border: 2px solid var(--primarycolor);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;   
}

.project .project-content .right{
    width: 55%;
    }

.project .project-content .text div{
    color: var(--pure );
    background-color: var(--primarycolor);     
}

.project .project-content .text div:hover{
    color: var(--primarycolor);
    background-color: var(--pure);     
}


/* contact setion style */

.contact{
    background-color:var(--bodybackground);
    color: var(--fontcolor); 
} 

.contact .title::after{
    content: "Get in Touch";
    color: var(--pure);
}

.contact .title::before{
    background-color: var(--pure);
}

.contact .contact-content .column{
    width: -webkit-calc(50% - 30px);
    
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;

}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left a{
    color : var(--pure)
}

.contact .contact-content .left a:hover{
    color : var(--secondarycolor);
}

.contact .contact-content .row{
    display: flex;
    height: 60px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .info .head{
    font-weight: 500;
}

.contact .contact-content .info .sub-title{
    color: var(--pure);

}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;

}

.contact .right form .field input{
    height: 100%;
    width:100%;
    margin-bottom: 15px;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-right: 2px;
    margin-bottom: 15px;
}

.contact .right form .textarea{
    height: 80px;
    width: 100%;

}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: var(--font2);
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;   
}

.contact .right form .button{
height: 47px;
width: 170px;
}

.contact .right form .button button{
    height: 100%;
    width: 80%;
    border: 2px solid var(--primarycolor);
    background-color: var(--primarycolor);
    color: var(--pure);
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.contact .right form .button button:hover{
    background-color: var(--bodybackground);
    color: var(--pure);
}

/* footer section style */

footer{
    background: #19181b;
    padding: 20px 23px;
    color: var(--pure);
}

footer span a{
    font-weight: bolder;
    font-style: italic;
    color: var(--pure);
    text-decoration: none;
}

footer span a:hover{
    color: var(--secondarycolor);
    
}


/* Responsivve media query start */

@media (max-width: 1300px){
    .home .max-width{
        margin-left:  0px;
    }
}

@media (max-width: 1104px){
    .about .about-content .left img{
        height: 300px;
        width: 300px;
    }
    
    .project .project-content .left img{
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }  
}

@media (max-width: 947px)
{
    
    .menu-btn{
        display: block;
        z-index: 999;
    }
    
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: var(--dark);
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px; 
        transition: all 0.3s ease;
    }
    
    .navbar .menu.active{
        left: 0;
    }
    
    .navbar .menu li{
        display: block;
    }
    
    .navbar .menu li a{
        display: inline-block;
        margin: 20px;
        font-size:20px;
    }

    .home .home-content .text-2{
        font-size: 70px;
    }
    
    .home .home-content .text-3{
        font-size: 35px;    
    }
    
    .home .home-content a{
        font-size: 23px;
        padding: 10xp 30px;
    }

    /* about section */
    
    .max-width{
        max-width: 800px;
    }
    
    .about .about-content .column{
        width:100%;
    }
    
    .about .about-content .left{
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    
    .about .about-content .right{
        flex:100%;

    }
    
    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 25px;
    }

    /* project section */
    
    .max-width{
        max-width: 800px;
    }
    
    .project .project-content .column{
        width:100%;
    }
    
    .project .project-content .left{
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    
    .project .project-project .right{
        flex:100%;
    }

}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }  
    
    .home .home-content .text-2{
        font-size: 60px;
    }
    
    .home .home-content .text-3{
        font-size: 32px;    
    }
    
    .home .home-content a{
        font-size: 20px;
    }
    
    .skills .skills-content .column{
        width: 100%;
    }
    
    .project .project-content .column .right{
        width: 100%;
    }
    
    
}

@media (max-width: 500px){
    
    .home .home-content .text-2{
        font-size: 50px;
    }
    
    .home .home-content .text-3{
        font-size: 27px;    
    }
    
    .project .project-content .column .right{
        width: 100%;
    }
}
